{
    "username": "[ENTER BOT USERNAME HERE]",
    "password": "[ENTER BOT OAUTH HERE -- GENERATE FROM cmd/auth/auth.go]",
    "code": "[ENTER CODE FROM OAUTH HERE]",
    "scopes": ["channel:bot","channel:read:subscriptions"],
    "redirect_uri": "http://localhost",
    "client_secret": "[ENTER TWITCH CLIENT SECRET HERE]",
    "client_id": "[ENTER TWITCH CLIENT ID HERE]",
    "channels": ["[CHANNEL USER NAMES TO JOIN]"]
}